extends layout

block content

    div(class="wrapper")
      div(class="sidebar-wrapper")
        div(class="profile-container")
            h1(class="name") #{jm_username}
                h3(class="tagline") #{jm_user_title}

        div(class="contact-container container-block")
            ul(class="list-unstyled contact-list")
                li(class="email")
                    <i class="fa fa-envelope"></i><a href="mailto: #{jm_user_mail}">#{jm_user_mail}</a>
                li(class="phone")
                    <i class="fa fa-phone"></i><a href="tel:#{jm_user_phone}">#{jm_user_phone}</a>
                li(class="website")
                    <i class="fa fa-globe"></i><a href="#{jm_user_website}" target="_blank">#{jm_user_website_vs}</a>
                li(class="linkedin")
                    <i class="fa fa-linkedin"></i><a href="#" target="_blank">#{jm_user_phone}</a>
                li(class="github")
                    <i class="fa fa-github"></i><a href="#" target="_blank">#{jm_user_github}</a>
                li(class="twitter")
                    <i class="fa fa-twitter"></i><a href="https://twitter.com" target="_blank">@#{jm_user_twitter}</a>

        div(class="education-container container-block")
            h2(class="container-block-title") Education
            each education in jm_educations
                div(class="item")
                    h4(class="degree") #{education.degree}
                    h5(class="meta") #{education.uni_name}
                    div(class="time") #{education.time}

        div(class="languages-container container-block")
            h2(class="container-block-title") Languages
            ul(class="list-unstyled interests-list")
              each language in jm_languages
                li #{language.lang}
                    <span class="lang-desc">#{language.level}

        div(class="interests-container container-block")
            h2(class="container-block-title") Interests
            ul(class="list-unstyled interests-list")
              each interest in jm_interests
                li #{interest}

      div(class="main-wrapper")
        section(class="section summary-section")
          h2(class="section-title")
            <i class="fa fa-user"></i> Career Profile
          div(class="summary")
            p #{jm_career_profile_summary}

        section(class="section experiences-section")
          h2(class="section-title")
            <i class="fa fa-briefcase"></i> Experiences

          each experience in jm_experiences
            div(class="item")
              div(class="meta")
                div(class="upper-row")
                  h3(class="job-title") #{experience.job_title}
                  div(class="time") #{experience.job_time}
                div(class="company") #{experience.company_location}
              div(class="details")
                p #{experience.details}

        section(class="section projects-section")
            h2(class="section-title")
              <i class="fa fa-archive"></i>Projects
            div(class="intro")
              p #{jm_project_intro}

            each project in jm_projects
              div(class="item")
                span(class="project-title")
                    a(href="#hook") #{project.name}
                    span(class="project-tagline") #{project.desc}

        section(class="skills-section section")
            h2(class="section-title")
                <i class="fa fa-rocket"></i>Skills &amp; Proficiency
            div(class="skillset")
                each val in jm_skills
                    div(class="item")
                        h3(class="level-title") #{val.lang}
                        div(class="level-bar")
                            div(class="level-bar-inner" data-level="#{val.prs}%")
